.app-header {
  background-color: var(--nav-bg-color);
  padding: 0 40px; /* Padding horizontal uniquement */
  border-bottom: 1px solid var(--border-color);
  position: sticky; /* Pour que le header reste en haut */
  top: 0;
  z-index: 1000;
}

.app-header nav {
  display: flex; /* Aligner les groupes de liens */
  justify-content: space-between; /* Espace entre gauche et droite */
  align-items: center;
  height: 60px; /* Hauteur fixe pour le header */
}

.app-header ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.app-header ul li {
  margin: 0 15px; /* Espacement ajusté */
}

.nav-links-left li:first-child a {
  font-size: 1.4em; /* Plus grand pour le "logo" */
  color: var(--text-color);
}

/* Styles pour les liens et spans dans le header */
.app-header ul li a,
.app-header ul li span {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.app-header ul li a:hover {
  color: var(--text-color);
  text-decoration: none;
}

.app-header .logout-button {

} 